@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --color-dost-white: #fff;
  --color-dost-black: #222222;
  --color-dost-blue: #48c4d3;
  --color-dost-blue-dark: #0ca5b6;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #48c4d3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #48c4d3;
}
